######  Test page to see if Puppet is populating  ######

                                                    ..::''''::..
                                            .:::.   .;''        ``;.
    ....                                    :::::  ::    ::  ::    ::
  ,;' .;:                ::  ..:            `:::' ::     ::  ::     ::
  ::.      ..:,:;.,:;.    .   ::   .::::.    `:'  :: .:' ::  :: `:. ::
   '''::,   ::  ::  ::  `::   ::  ;:   .::    :   ::  :          :  ::
 ,:';  ::;  ::  ::  ::   ::   ::  ::,::''.    .    :: `:.      .:' ::
 `:,,,,;;' ,;; ,;;, ;;, ,;;, ,;;, `:,,,,:'   :;:    `;..``::::''..;'
                                                      ``::,,,,::''
Have a nice day!!!!!